<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventario – Mortydex</title>
  <link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/mortydex.css">
  <link rel="stylesheet" href="/static/css/inventario.css">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.png') }}"/>
</head>
<body>
  <!-- Header común -->
  <header class="main-header">
    <div class="nav-container">
      <a href="/" class="nav-item nav-home">
        <img src="/static/images/icons/home.png" class="nav-icon"><span>Home</span>
      </a>
      <a href="/hallazgos" class="nav-item nav-foro">
        <img src="/static/images/icons/foro.png" class="nav-icon"><span>Foro</span>
      </a>
      <a href="/inventario" class="nav-item nav-inventario">
        <img src="/static/images/icons/inventario.png" class="nav-icon"><span>Inventario</span>
      </a>
    </div>
    <div class="logo-container">
      <img src="/static/images/icons/logo.png" alt="Logo">
    </div>
   <div class="login-button">
  {% if session.username %}
    <a href="/hallazgos">
      <img src="/static/images/icons/user_icon.jpg" alt="Foro" class="nav-icon"/>
    </a>
  {% else %}
    <a href="/login">
      <img src="/static/images/icons/Login.png" alt="Ingresar" class="nav-icon"/>
      Ingresar
    </a>
  {% endif %}
  </div>

  </header>

  <main class="inventory-page">
    <!-- Fondo claro con relieve -->
    <div class="cards-background">

      <!-- Sección de subida -->
    <section class="upload-section">
      <h2>Subir Morty</h2>
      <form action="/subir_morty" method="POST" enctype="multipart/form-data">
        <input type="file" name="mortyImage" accept="image/*" required>
        <input type="text" name="mortyName" placeholder="Nombre del Morty" required>
        <input type="text" name="mortyType" placeholder="Tipo de Morty" required>
        <button type="submit">Subir</button>
      </form>
    </section>


      <!-- Grid de inventario -->
      <section class="inventory-grid">
        {% for item in items %}
          <div class="item-card">
            <img src="{{ item.img }}" alt="{{ item.name }}">
            <h3>{{ item.name }}</h3>
            <p>Tipo: {{ item.type }}</p>
          </div>
        {% endfor %}
      </section>


    </div>
  </main>

  <script defer src="/static/js/inventario.js"></script>
</body>
</html>